<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>table</title>
</head>
<body>
    <table border="0">
        <tr>
            <td width="500"></td>
            <td width="300" height="300xp">
                <table border="1">
                    <caption>系统基础信息</caption>
                    <tr>
                        <th>name</th>
                        <th>value</th>
                        <th>status</th>
                    </tr>
                    {% for key, value in local_system.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                        <!--值大于60小于90为黄色，大于90为红色，小于60为绿色-->
                        {% if value < 60 %}
                        <td bgcolor="green">sucess</td>
                        {% elif value >= 60 and value <= 90 %}
                        <td bgcolor="yellow">warning</td>
                        {% elif value > 90 %}
                        <td bgcolor="red">error</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
            <td width="300">
                <table border="1">
                    <caption>端口信息</caption>
                    <tr>
                        <th>name</th>
                        <th>value</th>
                    </tr>
                    {% for key, value in local_port.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>
</body>
</html>